.container {
    width: 315px;
    height: 50vh;
    margin: 0 auto;
}
#addForm {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: lightblue;
}

#addForm input {
    width: 33%;
    border: 2px solid grey;
}

#addToDo {
    width: 67%;
    background: lightgray;
    border: 2px solid grey;
    text-align: center;
}

#list {
    width: 100%;

}

#list li:nth-child(odd) {
    background: #f9f9f9;
}

#list li:hover {
    background: #ddd;
  }

#list li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    background: rgb(201, 218, 235);
}

.custom-buttons {
    width: 65%;
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
    .container {
        width: 760px;
    }

    #addForm input {
        width: 63%;
    }
    
    #addToDo {
        width: 37%;
    }
    
    .custom-buttons {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 960px;
    }

    #addForm input {
        width: 77%;
    }
    
    #addToDo {
        width: 23%;
}